# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'reddit-atom'
      'submenu': [
        { 'label': 'open', 'command': 'reddit-atom:open' }
      ]
    ]
  }
]
